# Proxy fedora requests
location /deposits/objects/ {
  proxy_buffering on;
  proxy_buffer_size 1k;
  proxy_buffers 48 64k;
  proxy_set_header Host $host;
  proxy_set_header X-Real-IP $remote_addr;
  proxy_pass {{ core_fedora_protocol }}{{ core_fedora_host }}:{{ core_fedora_port }}{{ core_fedora_path }}/objects/;
}
