# Redirect old group slugs
rewrite ^/groups/comparative-studies-in-medieval-literature/(.*) /groups/medieval/$1 permanent;
rewrite ^/groups/comparative-studies-in-renaissance-and-baroque-literature/(.*) /groups/renaissance-and-early-modern/$1 permanent;
rewrite ^/groups/comparative-studies-in-eighteenth-century-literature/(.*) /groups/18th-century/$1 permanent;
rewrite ^/groups/comparative-studies-in-romanticism-and-the-nineteenth-century/(.*) /groups/romantic-and-19th-century/$1 permanent;
rewrite ^/groups/comparative-studies-in-twentieth-century-literature/(.*) /groups/20th-and-21st-century/$1 permanent;
rewrite ^/groups/arthurian-literature/(.*) /groups/arthurian/$1 permanent;
rewrite ^/groups/celtic-languages-and-literatures/(.*) /groups/celtic/$1 permanent;
rewrite ^/groups/classical-studies-and-modern-literature/(.*) /groups/classical-and-modern/$1 permanent;
rewrite ^/groups/european-literary-relations/(.*) /groups/european-regions/$1 permanent;
rewrite ^/groups/english-literature-other-than-british-and-american/(.*) /groups/global-anglophone/$1 permanent;
rewrite ^/groups/jewish-cultural-studies/(.*) /groups/global-jewish/$1 permanent;
rewrite ^/groups/romance-literary-relations/(.*) /groups/mediterranean/$1 permanent;
rewrite ^/groups/scandinavian-languages-and-literatures/(.*) /groups/nordic/$1 permanent;
rewrite ^/groups/childrens-literature/(.*) /groups/childrens-and-young-adult-literature/$1 permanent;
rewrite ^/groups/drama/(.*) /groups/drama-and-performance/$1 permanent;
rewrite ^/groups/folklore-and-literature/(.*) /groups/folklore-myth-and-fairy-tale/$1 permanent;
rewrite ^/groups/autobiography-biography-and-life-writing/(.*) /groups/life-writing/$1 permanent;
rewrite ^/groups/nonfiction-prose-studies-excluding-biography-and-autobiography/(.*) /groups/nonfiction-prose/$1 permanent;
rewrite ^/groups/poetry/(.*) /groups/poetry-and-poetics/$1 permanent;
rewrite ^/groups/science-fiction-and-utopian-and-fantastic-literature/(.*) /groups/speculative-fiction/$1 permanent;
rewrite ^/groups/travel-literature/(.*) /groups/travel-writing/$1 permanent;
rewrite ^/groups/the-two-year-college/(.*) /groups/community-colleges/$1 permanent;
rewrite ^/groups/part-time-faculty-members/(.*) /groups/part-time-and-contingent-faculty-issues/$1 permanent;
rewrite ^/groups/african-literatures/(.*) /groups/african-to-1990/$1 permanent;
rewrite ^/groups/american-literature-to-1800/(.*) /groups/early-american/$1 permanent;
rewrite ^/groups/nineteenth-century-american-literature/(.*) /groups/19th-century-american/$1 permanent;
rewrite ^/groups/late-nineteenth-and-early-twentieth-century-american-literature/(.*) /groups/late-19th-and-early-20th-century-american/$1 permanent;
rewrite ^/groups/twentieth-century-american-literature/(.*) /groups/20th-and-21st-century-american/$1 permanent;
rewrite ^/groups/black-american-literature-and-culture/(.*) /groups/african-american/$1 permanent;
rewrite ^/groups/asian-american-literature/(.*) /groups/asian-american/$1 permanent;
rewrite ^/groups/chicana-and-chicano-literature/(.*) /groups/chicana-and-chicano/$1 permanent;
rewrite ^/groups/american-indian-literatures/(.*) /groups/indigenous-literatures-of-the-united-states-and-canada/$1 permanent;
rewrite ^/groups/italian-american-literature/(.*) /groups/italian-american/$1 permanent;
rewrite ^/groups/jewish-american-literature/(.*) /groups/jewish-american/$1 permanent;
rewrite ^/groups/literature-of-the-united-states-in-languages-other-than-english/(.*) /groups/literatures-of-the-united-states-in-languages-other-than-english/$1 permanent;
rewrite ^/groups/southern-literature/(.*) /groups/southern-united-states/$1 permanent;
rewrite ^/groups/arabic-literature-and-culture/(.*) /groups/arabic/$1 permanent;
rewrite ^/groups/east-asian-languages-and-literatures-to-1900/(.*) /groups/east-asian/$1 permanent;
rewrite ^/groups/south-asian-languages-and-literatures/(.*) /groups/south-asian-and-south-asian-diasporic/$1 permanent;
rewrite ^/groups/west-asian-languages-and-literatures/(.*) /groups/west-asian/$1 permanent;
rewrite ^/groups/canadian-literature-in-english/(.*) /groups/canadian/$1 permanent;
rewrite ^/groups/catalan-language-and-literature/(.*) /groups/catalan-studies/$1 permanent;
rewrite ^/groups/netherlandic-language-and-literature/(.*) /groups/dutch/$1 permanent;
rewrite ^/groups/old-english-language-and-literature/(.*) /groups/old-english/$1 permanent;
rewrite ^/groups/middle-english-language-and-literature-excluding-chaucer/(.*) /groups/middle-english/$1 permanent;
rewrite ^/groups/literature-of-the-english-renaissance-excluding-shakespeare/(.*) /groups/16th-century-english/$1 permanent;
rewrite ^/groups/seventeenth-century-english-literature/(.*) /groups/17th-century-english/$1 permanent;
rewrite ^/groups/restoration-and-early-eighteenth-century-english-literature/(.*) /groups/restoration-and-early-18th-century-english/$1 permanent;
rewrite ^/groups/late-eighteenth-century-english-literature/(.*) /groups/late-18th-century-english/$1 permanent;
rewrite ^/groups/the-english-romantic-period/(.*) /groups/english-romantic/$1 permanent;
rewrite ^/groups/the-victorian-period/(.*) /groups/victorian-and-early-20th-century-english/$1 permanent;
rewrite ^/groups/twentieth-century-english-literature/(.*) /groups/20th-and-21st-century-english-and-anglophone/$1 permanent;
rewrite ^/groups/french-medieval-language-and-literature/(.*) /groups/medieval-french/$1 permanent;
rewrite ^/groups/sixteenth-century-french-literature/(.*) /groups/16th-century-french/$1 permanent;
rewrite ^/groups/seventeenth-century-french-literature/(.*) /groups/17th-century-french/$1 permanent;
rewrite ^/groups/eighteenth-century-french-literature/(.*) /groups/18th-century-french/$1 permanent;
rewrite ^/groups/nineteenth-century-french-literature/(.*) /groups/19th-century-french/$1 permanent;
rewrite ^/groups/twentieth-century-french-literature/(.*) /groups/20th-and-21st-century-french/$1 permanent;
rewrite ^/groups/francophone-literatures-and-cultures/(.*) /groups/francophone/$1 permanent;
rewrite ^/groups/german-literature-to-1700/(.*) /groups/german-to-1700/$1 permanent;
rewrite ^/groups/eighteenth-and-early-nineteenth-century-german-literature/(.*) /groups/18th-and-early-19th-century-german/$1 permanent;
rewrite ^/groups/nineteenth-and-early-twentieth-century-german-literature/(.*) /groups/19th-and-early-20th-century-german/$1 permanent;
rewrite ^/groups/twentieth-century-german-literature/(.*) /groups/20th-and-21st-century-german/$1 permanent;
rewrite ^/groups/hebrew-literature/(.*) /groups/hebrew/$1 permanent;
rewrite ^/groups/hungarian-literature/(.*) /groups/hungarian/$1 permanent;
rewrite ^/groups/anglo-irish-literature/(.*) /groups/irish/$1 permanent;
rewrite ^/groups/medieval-and-renaissance-italian-literature/(.*) /groups/medieval-and-renaissance-italian/$1 permanent;
rewrite ^/groups/seventeenth-eighteenth-and-nineteenth-century-italian-literature/(.*) /groups/17th-18th-and-19th-century-italian/$1 permanent;
rewrite ^/groups/twentieth-century-italian-literature/(.*) /groups/20th-and-21st-century-italian/$1 permanent;
rewrite ^/groups/colonial-latin-american-literatures/(.*) /groups/colonial-latin-american/$1 permanent;
rewrite ^/groups/latin-american-literature-from-independence-to-1900/(.*) /groups/19th-century-latin-american/$1 permanent;
rewrite ^/groups/twentieth-century-latin-american-literature/(.*) /groups/20th-and-21st-century-latin-american/$1 permanent;
rewrite ^/groups/cuban-and-cuban-diaspora-cultural-production/(.*) /groups/cuban-and-cuban-diasporic/$1 permanent;
rewrite ^/groups/mexican-cultural-and-literary-studies/(.*) /groups/mexican/$1 permanent;
rewrite ^/groups/puerto-rican-literature-and-culture/(.*) /groups/puerto-rican/$1 permanent;
rewrite ^/groups/provencal-language-and-literature/(.*) /groups/occitan/$1 permanent;
rewrite ^/groups/old-norse-language-and-literature/(.*) /groups/old-norse/$1 permanent;
rewrite ^/groups/lusophone-literatures-and-cultures-outside-portugal-and-brazil/(.*) /groups/global-portuguese/$1 permanent;
rewrite ^/groups/luso-brazilian-language-and-literature/(.*) /groups/luso-brazilian/$1 permanent;
rewrite ^/groups/romanian-studies/(.*) /groups/romanian/$1 permanent;
rewrite ^/groups/scottish-literature/(.*) /groups/scottish/$1 permanent;
rewrite ^/groups/sephardic-studies/(.*) /groups/sephardic/$1 permanent;
rewrite ^/groups/slavic-and-east-european-literatures/(.*) /groups/russian-and-eurasian/$1 permanent;
rewrite ^/groups/slavic-literatures-and-cultures/(.*) /groups/slavic-and-east-european/$1 permanent;
rewrite ^/groups/medieval-hispanic-languages-literatures-and-cultures/(.*) /groups/medieval-iberian/$1 permanent;
rewrite ^/groups/sixteenth-and-seventeenth-century-spanish-drama/(.*) /groups/16th-and-17th-century-spanish-and-iberian-drama/$1 permanent;
rewrite ^/groups/sixteenth-and-seventeenth-century-spanish-poetry-and-prose/(.*) /groups/16th-and-17th-century-spanish-and-iberian-poetry-and-prose/$1 permanent;
rewrite ^/groups/eighteenth-and-nineteenth-century-spanish-literature/(.*) /groups/18th-and-19th-century-spanish-and-iberian/$1 permanent;
rewrite ^/groups/twentieth-century-spanish-literature/(.*) /groups/20th-and-21st-century-spanish-and-iberian/$1 permanent;
rewrite ^/groups/yiddish-literature/(.*) /groups/yiddish/$1 permanent;
rewrite ^/groups/germanic-philology/(.*) /groups/germanic-philology-and-linguistics/$1 permanent;
rewrite ^/groups/present-day-english-language/(.*) /groups/global-english/$1 permanent;
rewrite ^/groups/linguistic-approaches-to-literature/(.*) /groups/linguistics-and-literature/$1 permanent;
rewrite ^/groups/comparative-romance-linguistics/(.*) /groups/romance-linguistics/$1 permanent;
rewrite ^/groups/the-teaching-of-language/(.*) /groups/second-language-teaching-and-learning/$1 permanent;
rewrite ^/groups/opera-as-a-literary-and-dramatic-form/(.*) /groups/opera-and-musical-performance/$1 permanent;
rewrite ^/groups/film/(.*) /groups/screen-arts-and-culture/$1 permanent;
rewrite ^/groups/media-and-literature/(.*) /groups/sound/$1 permanent;
rewrite ^/groups/literature-and-other-arts/(.*) /groups/visual-culture/$1 permanent;
rewrite ^/groups/the-history-and-theory-of-rhetoric-and-composition/(.*) /groups/history-and-theory-of-composition/$1 permanent;
rewrite ^/groups/the-teaching-of-writing/(.*) /groups/writing-pedagogies/$1 permanent;
rewrite ^/groups/bibliography-and-textual-studies/(.*) /groups/bibliography-and-scholarly-editing/$1 permanent;
rewrite ^/groups/lexicography/(.*) /groups/book-history-print-cultures-lexicography/$1 permanent;
rewrite ^/groups/libraries-and-research-in-languages-and-literatures/(.*) /groups/libraries-and-research/$1 permanent;
rewrite ^/groups/anthropological-approaches-to-literature/(.*) /groups/anthropology-and-literature/$1 permanent;
rewrite ^/groups/cognitive-approaches-to-literature/(.*) /groups/cognitive-and-affect-studies/$1 permanent;
rewrite ^/groups/methods-of-literary-research/(.*) /groups/digital-humanities/$1 permanent;
rewrite ^/groups/law-as-literature/(.*) /groups/law-and-the-humanities/$1 permanent;
rewrite ^/groups/sociological-approaches-to-literature/(.*) /groups/marxism-literature-and-society/$1 permanent;
rewrite ^/groups/memory-studies-1197499989/(.*) /groups/memory-studies/$1 permanent;
rewrite ^/groups/philosophical-approaches-to-literature/(.*) /groups/philosophy-and-literature/$1 permanent;
rewrite ^/groups/postcolonial-studies-in-literature-and-culture/(.*) /groups/postcolonial-studies/$1 permanent;
rewrite ^/groups/psychological-approaches-to-literature/(.*) /groups/psychology-psychoanalysis-and-literature/$1 permanent;
rewrite ^/groups/ethnic-studies-in-language-and-literature/(.*) /groups/race-and-ethnicity-studies/$1 permanent;
rewrite ^/groups/literature-and-religion/(.*) /groups/religion-and-literature/$1 permanent;
rewrite ^/groups/literature-and-science/(.*) /groups/science-and-literature/$1 permanent;
rewrite ^/groups/gay-studies-in-language-and-literature/(.*) /groups/sexuality-studies/$1 permanent;
rewrite ^/groups/translation/(.*) /groups/translation-studies/$1 permanent;
rewrite ^/groups/womens-studies-in-language-and-literature/(.*) /groups/womens-and-gender-studies/$1 permanent;

